@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    /* colors */
    --color-primary: #0AA6C8;
    --color-primary-hover: #E6F7FB;
    --color-secondary: #0886A2;
    --color-background: #FFFFFF;
    --color-card: #F5F7FA;
    --color-green: #22C55E;
    --color-gray: #bbbbbb;
    --color-warning: #FF7A3C;
    --color-error: #E53935;

    --container-padding-x: 1rem;
  }

  :root {
    --sidebar: #161616;
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  .dark {
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  * {
    @apply border-0 m-0 p-0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    /* @apply bg-background text-foreground; */
    background: var(--color-background);
    /* color: var(--foreground); */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

  /* ===== BACKGROUND COLORS ===== */
  .bg-primary{
    background-color: var(--color-primary);
  }
  .bg-primary-hover{
    background-color: var(--color-primary-hover);
  }
  .bg-secondary{
    background-color: var(--color-secondary);
  }
  .bg-background{
      background-color: var(--color-background);
  }
  .bg-card{
    background-color: var(--color-card)
  }
  .bg-gray{
    background-color: var(--color-gray);
  }
  .bg-green{
    background-color: var(--color-green);
  }

  /* ===== TEXT COLORS ===== */
  .text-primary{
    color: var(--color-primary);
  }
  .text-secondary{
    color: var(--color-secondary);
  }
  .text-background{
      color: var(--color-background);
  }
  .text-gray{
    color: var(--color-gray);
  }
  .text-green{
    color: var(--color-green);
  }

/* ========================================== TAILWIND STYLES ==========================================*/
@layer utilities {
  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* ===== text sizes */
  .text-h1{
    @apply font-bold text-4xl md:text-6xl lg:text-5xl;
  }
  .text-h2{
    @apply font-bold text-4xl lg:text-4xl;
  }
  .text-h3{
    @apply font-bold text-xl md:text-2xl lg:text-xl;
  }

  .text-body-1{
    @apply text-xl md:text-2xl lg:text-xl
  }
  .text-body-2{
    @apply text-xl lg:text-lg
  }
  .text-body-3{
    @apply text-xl lg:text-lg
  }
  .text-body-4{
    @apply text-xl lg:text-base
  }
  .text-body-5{
    @apply text-xl lg:text-sm
  }
}

/* ========================================== Other Styles ==========================================*/
button{
  cursor: pointer;
}

.my-container {
  width: 100%;
  padding-right: var(--container-padding-x);
  padding-left: var(--container-padding-x);
  margin-right: auto;
  margin-left: auto;
}

@media (width > 724px) {
  :root {
      --container-padding-x: 5.12rem;
    }
  }
@media (width > 1290px) {
  :root {
    --container-padding-x: 8rem;
  }
}